@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	font-family: 'Bai Jamjuree', sans-serif;
	color: #161513;
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1.2;
	line-height: 1;
	font-size: 16px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: #F2F1EF;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;
color: #161513;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
}
.header {
	justify-content: space-between;
	width: 100%;
	height: 96px;
	display: flex;
	padding: 0 80px;
}
.header__logo {
	display: flex;
	margin: auto 0;
}
.header__icon {
	width: 32px;
	height: 32px;
	margin-right: 13px;
}
.header__title {
	margin: auto 0;
	width: 86px;
	height: 17px;
}
.header__nav {
	margin: auto 0;
}
.header__list {
	display: flex;
}
.header__item:not(:last-child) {
	margin-right: 32px;
}
.header__item{
	transition: all 0.5s ease 0s;
}
.header__item:after{
	content: '';
	display: block;
	width: 100%;
	padding-top: 3px;
	border-bottom: 1px solid #000;
	transition: all 0.5s ease 0s;
}
.header__item:hover{
	font-size: 22px;
}
.header__item:hover:after{
	margin-left: -20%;
	width: 140%;	
}
.header__button {
	margin: auto 0;
	width: 126px;
	height: 42px;
}
.button__body {
	display: flex;
	width: 100%;
	height: 100%;
}
.button__body span{
	margin: auto;
}
._white {
	border: 1px solid #000;
}





.first-skrin {
	width: 100%;
	padding: 0 80px;
	display: flex;
	justify-content: space-between;
}
.first-skrin__content {
	margin: auto 0px;
}
.first-skrint__title {
	font-size: 56px;
}
.first-skrint__img{
	margin: auto 12px auto 0;
	
}


.first-skrint__title:not(:last-child){
	white-space: nowrap;
	margin-right: 12px;
}
.first-skrint__img img{
	width: 40px;
	height: 40px;
}
.first-skrin__list {
	display: flex;
}
.first-skrin__subtitle{
	font-size: 23px;
}
.first-skrin__star{
	margin: auto 0;
}
.first-skrin__star img{
	width: 20px;
	height: 20px;
}
.first-skrin__list_second li:not(:last-child){
	margin-right: 16px;
}
.first-skrin__list_second{
	margin-top: 32px;
}
.first-skrin__plates {}
.first-slrin__plate {}
.first-skrin__button {}
.first-skrin__picture {
	width: 500px;
	height: 500px;
	border-radius: 50%;
	overflow: hidden;
	background-size: cover;
	background-position: center;
}